@font-face {
  font-family: 'Nunito Sans';
  src: url('NunitoSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('NunitoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('NunitoSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
